.Form {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.Input {
  margin-right: 1vh;
  margin-left: -1vh;
  padding: 10px;
  width: 20vh;
  background-color: #2a0010;
  border-color: #a2013c;
  border-style: groove;
  border-width: 0.1px;
  color: azure;
  border-radius: 0.3rem;
  opacity: 1;
}

.submit {
  width: 5rem;
  padding: 9px;
  border-style: groove;
  border-width: 0.1px;
  border-color: #a2013c;
  background-color: #2a0010;;
  color: azure;
  border-radius: 0.3rem;
}
